:root {
  --main-color: #22f5ff;
  --main-transition: 0.3s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/*phone*/
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
/*small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*start setting-box*/
.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 100;
  min-height: 100vh;
  transition: var(--main-transition);
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}
.settings-box .toggle-settings .fa-cog {
  width: 30px;
  padding: 8px 0;
}
.settings-box .option-box {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  margin: 12px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 25px;
  height: 25px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}
.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #22f5ff;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #74992e;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #ff4e22;
}
.settings-box .option-box .colors-list li:last-child {
  background-color: #e91e63;
}
.settings-box .random .yes,
.settings-box .random .no,
.settings-box .bullets-option .yes,
.settings-box .bullets-option .no {
  width: 50px;
  background-color: #666;
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.settings-box .random span.active {
  opacity: 1;
}

/*end setting-box*/
/*start nav bullets*/
.nav-bullets {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  z-index: 1000;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet .tooltip {
  background-color: var(--main-color);
  color: white;
  width: 100px;
  right: 30px;
  padding: 4px 10px;
  top: -6px;
  position: absolute;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 3px;
}

/*end nav bullets*/
/*start landing page*/
.landing-page {
  min-height: 100vh;
  background-image: url(../images/1.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .overly {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1;
}
.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
  color: var(--main-color);
  font-size: 24px;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.header-area .links {
  width: 100%;
  padding-left: 0;
  font-size: 20px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 20px;
}
.header-area .links li a {
  text-decoration: none;
  color: #fff;
  transition: var(--main-transition);
}
.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}
.header-area .toglle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}

.header-area .toglle-menu:focus {
  outline: none;
}
.header-area .toglle-menu span {
  display: block;
  background-color: #fff;
  height: 3px;
  margin-bottom: 4px;
}
.introduction-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 95%;
}
.introduction-text h1 {
  font-size: 30px;
}
.introduction-text h1 span {
  color: var(--main-color);
  text-transform: uppercase;
}
.introduction-text p {
  line-height: 1.8;
  font-size: 24px;
  word-spacing: 4px;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .toglle-menu .active:before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: -13px;
    left: 10px;
    z-index: 5000;
  }
  .header-area .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    border-radius: 4px;
    z-index: 3000;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
    border-bottom: 2px solid var(--main-color);
    text-align: left;
  }
  .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .header-area .toglle-menu {
    display: inline-block;
  }
}
/*end landing page*/
/*start about us*/
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 576px) {
  .about-us {
    display: inline-block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 80px 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #777;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  width: 250px;
  text-align: center;
}

/*end about us*/
/* our skills*/
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 576px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 10px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: calc(100% - 110px);
  background-color: #ddd;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: 0.5s;
}
/* end skills*/
/* products*/
.products {
  padding-top: 50px;
  padding-bottom: 50px;
}
.products h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.products .images-box {
  text-align: center;
}
.products .images-box img {
  width: 200px;
  padding: 3px;
  margin: 5px;
  border: 2px solid #eee;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1000;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}
.popup-box img {
  max-width: 100%;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
}

/* products*/

/*start contact us*/
.contact {
  min-height: 600px;
  background-image: url(../images/contact-us.jpg);
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.contact .overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 10%);
  position: absolute;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgb(0 0 0 / 10%);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  cursor: pointer;
  color: white;
}

/*end contact us*/
/*start footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
/*end footer */
